{% extends 'elections/base.html' %}
{% include 'elections/navbar.html' %}

{% block content %}
  <h2>Ranking of the elections in the</h2>
  <h3>{{round.name}}</h3>
  <h5>{{round.start_date}} - {{round.end_date}}</h5>

  <table class="table w-50 table-striped table-hover border border-black">
    <thead>
      <tr class="table-danger">
        <th scope="col">No</th>
        <th scope="col">Username</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">No Vote</th>
        <th scope="col">Vote</th>
      </tr>
    </thead>
    <tbody>
      {% if candidates %}
        {% for candidate in candidates %}
          <tr class="table-secondary">
            <td>{{ forloop.counter }}</td>
            <td>
              <a href="{% url 'candidateProfile' candidate.candidate.id %}" class="list-group-item list-group-item-action list-group-item-dark">{{ candidate.candidate.username }}</a>
            </td>
            <td>{{ candidate.candidate.first_name }}</td>
            <td>{{ candidate.candidate.last_name }}</td>
            <td>{{ candidate.no_votes }}</td>
            <td>
              <form action="{% url 'voteCandidate' candidate.candidate.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="candidate_id" value="{{ candidate.candidate.id }}" />
                <button type="submit" class="btn btn-dark" value="Vote">Vote</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>

  {% if messages %}
    <div id="message-div" class="alert alert-success" role="alert">
      {% for message in messages %}
        <div class="mess-div">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}

  <script>
    const messageDiv = document.getElementById('message-div')
    setTimeout(() => {
      messageDiv.style.display = 'none'
    }, 5000)
  </script>
{% endblock %}