h1, thead, title {
    text-align: center;
}

textarea {
    width: 450px;
    height: 100px;
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}